@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chokokutai&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Container{
  max-width: 1920px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  border: 3px solid black;
}

.menu-wrap{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 15px 20px;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid black;
  color: rgba(255, 255, 255, 0.928);
}

.logo{
  font-size: 40px;
  font-weight: bold;
  font-family: 'Chokokutai', cursive;
  padding-left: 40px;
}

.list{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link{
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.link:hover{
  color: gold;
}